# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = tab
tab_width = 4

[*.cs]
# Namespace preferences (IDE0160 / IDE0161)
csharp_style_namespace_declarations = file_scoped:warning